.markdown-preview.markdown-preview {

.block {
  font-size: 100%;
  color: black;
  border-radius: 4px;
  margin: 2em 0;
  padding-left: 20px;
  padding: 12px;
  padding-bottom: 3px;
  margin-bottom: 0px;
  margin-right:12px;
  margin-left:12px;
}

.blue-block {
  background: #e7f2fa;
}
.red-block {
  background: #ffedcc;
}
.green-block {
  background:  #BFD5C0;
}

.warning {
  background: #ffd7d2;
  font-size: 100%;
  color: black;
  border-radius: 4px;
  margin: 2em 0;
  padding-left: 20px;
  padding: 12px;
  padding-bottom: 3px;
  margin-bottom: 0px;
  margin-right:12px;
  margin-left:12px;
}

.title{
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  padding: 10px 12px;
  margin: -12px -12px 12px !important;
  font-weight: 700;
  font-size: 110%;
}

.blue-block .title {
  background: #6ab0de;
}
.red-block .title {
  background: #f0b37e;
}
.green-block .title {
  background: #2A752E ;
}

.warning .title {
  background: #9d1300;
  font-family: FontAwesome;
  font-style: normal;
}


}
