.markdown-preview.markdown-preview{

mark {
  font-family: Consolas,"courier new";
  background: #7fbbe3;
  font-size: 80%;
  font-weight: 700;
  color: black;
  border-radius: 4px;
  padding: 2.4px 6px;
  margin: auto 2px;
}
}
