.markdown-preview.markdown-preview {
  // please write your custom style here
  // eg:
  //  color: blue;          // change font color
  //  font-size: 14px;      // change font size

  h1 {
      counter-reset: h2counter;
      font-size: 40px;
      font-size: 2rem;
      margin: 0 0 16px;
      margin: 0 0 1rem;
      text-align:center;
  }
  h2 {
      counter-increment: h2counter;
      counter-reset: h3counter h6counter;
  }
  h3 {
      counter-increment: h3counter;
      counter-reset: h4counter;
  }
  h4 {
      counter-increment: h4counter;
      counter-reset: h5counter;
  }

  h5 {
    padding-left: 15px;
    counter-increment: h5counter;
  }
  h6 {
    counter-increment: h6counter;
     margin-bottom: 0px;
  }

  h2:before {
      content: counter(h2counter) ". ";
  }
  h3:before {
      content: counter(h2counter) "." counter(h3counter) ". ";
  }
  h4:before {
      content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
  }
  h5:before {
      content: counter(h5counter, lower-alpha) ". ";
  }
  h6:before {
      content: "Question " counter(h2counter) ". " counter(h6counter) ". ";
  }
}
