img.zoomable:hover, img.zoomable:focus{
  /*Controle behaviour on hoover*/

  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(var(--scale, 1.25));
  -moz-transform: scale(var(--scale, 1.25));
  -o-transform: scale(var(--scale, 1.25));
  position:relative;
  z-index:5;

  /*Soft transition*/
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;

}
