.markdown-preview.markdown-preview{
// pour les codes en ligne ``
 code {
 font-family: Consolas,"courier new";
 color: #E74C3C;
 background-color: #f1f1f1;
 padding: 2px;
 font-size: 95%;
 border: solid 1px #e1e4e5;
}

pre code  {
   color: black;
   background: none;
   text-shadow: 0 1px white;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   border: none;
   font-size: 95%;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
}


}
