.markdown-preview {

table.dataframe {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    // color: @rendered_html_border_color;
    font-size: 12px;
    table-layout: fixed;
}

thead.dataframe {
    border-bottom: 1px solid; //@rendered_html_border_color;
    vertical-align: bottom;
}
table.dataframe tr, table.dataframe th, table.dataframe td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}
table.dataframe th {
    font-weight: bold;
}
table.dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
table.dataframe tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}
* + table.dataframe {margin-top: 1em;}

}
/*
body {
    margin: 0;
    font-family: Helvetica;
}
table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 2px solid #ccf;
    background-color: #f4f4ff;
} */
