/* pour le système de questions-réponses */
div.question {
   position: relative;
   p {
     margin: -0.2em 0
    }
 }
input[type=checkbox] {
   position: absolute;
   top: 0;
   left: 0;
   width: 10%;
   height: 10%;
   opacity: 0;
}
label {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 40px; /* espacement entre le pointeur et le texte de la question */
  font-size: small;
}
label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 20px; /* décalage du pointeur vers la droite */
  border-left: 7px solid #008a9d; /* apparence du pointeur */
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin-top: -7px;
}
input[type=checkbox]:checked ~ p label:before {
  border-left: 7px solid transparent;
  border-top: 7px solid #008a9d;
  border-right: 7px solid transparent;
  margin-left: -7px;
  margin-top: -7px
}
p.reponse {
  max-height: 0;
  overflow: hidden;
  padding-left: 25px;
  padding-top: -10px;
  font-style: italic;
}

span.reponse {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding-left: 25px;
  padding-top: -10px;
}

input[type=checkbox]:checked ~ .reponse {
  max-height: 6000px; /* la hauteur max que pourra prendre la réponse */
}
