.markdown-preview.markdown-preview {
  // please write your custom style here
  // eg:
  //  color: blue;          // change font color
  //  font-size: 14px;      // change font size

  h1 {
  }
  h2 {
      color:#69271e;
  }
  h3 {
    color: #9d1300;
  }

  h4 {
    color:#c02d51;
  }
  h5 {
    color:#008a9d ;

  }
  h6 {
    color: #9d1300;
  }

}
